body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #333;
    color: white;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: white;
}
nav a:hover {
    text-decoration: underline;
}
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
h1 {
    margin: 0; 
    width: 100%;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4CAF50;
}
article {
    margin-bottom: 20px;
}
input[type="text"],
input[type="button"],
select {
    margin: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="button"]:active {
    background-color: #45a049;
    color: white;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#year {
    font-weight: bold;
}
.active {
    font-weight: bold;
}
#sectionMath,
#sectionNasa {
    width: 440px;
    height: auto;
    border-radius: 5%;
    border: 1px solid #ccc;
    box-shadow: 0 0 30px #777;
}

 /*This doesn't work */
.dark-mode body {
  
    background-color: #333;
    color: white;
}


#darkModeToggle {
    margin: 10px;
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    
}

#darkModeToggle:hover {
    background-color: #45a049;
}